SMTP_USER=unciv@example.com
SMTP_USER_FROM=Unciv-Mailer
SMTP_PASS=password
SMTP_HOST=mail.example.com
SMTP_PORT=465
SMTP_ERROR_ADDR=error@example.com

WATCH_DIR=/Unciv/data
MAIL_MAP_FILE=/config/mail_map.json
